/* Style for the cart page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #efefef;
}



/* Header */
.top-header {
   width: 100%;
   border-radius: 10px;
   justify-content: center;
   background-color: #233f99;
   margin: 0;
   margin-top: 20px;
   padding: 10px 25px;
}

.header-top {
   display: flex;
   align-items: center;
   position: relative;
   margin-bottom: 5px;
   width: 100%;
}

.logo-box {
display: flex;
align-items: center;
gap: 12px;
text-decoration: none;
flex-shrink: 0;
}

.logo-box img {
width: 55px;
height: 42px;
background-color: white;
border-radius: 10px;
object-fit: cover;
}

.logo-box h1 {
color: white;
font-size: 24px;
white-space: nowrap;
}

.navbar {
display: flex;
align-items: center;
gap: 30px;
margin-left: auto;
}

.navbar a {
text-decoration: none;
color: white;
font-size: 15px;
font-weight: bold;
transition: 0.3s;
white-space: nowrap;
}

.navbar a:hover {
color: #d6e4ff;
}

.login-box {
display: flex;
align-items: center;
margin-left: auto;
}

.login-btn {
background-color: white;
color: #233f99;
padding: 10px 18px;
border-radius: 25px;
text-decoration: none;
font-weight: bold;
font-size: 14px;
}

#user-profile {
display: none;
align-items: center;
gap: 10px;
background-color: white;
padding: 5px 18px;
border-radius: 25px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#user-profile img {
width: 35px;
height: 35px;
border-radius: 50%;
object-fit: cover;
display: block;
}

#user-profile span {
color: #233f99;
font-weight: bold;
font-size: 14px;
}

.logout-btn {
background-color: #ff4d4d;
color: white;
border: none;
padding: 5px 12px;
border-radius: 15px;
font-size: 12px;
cursor: pointer;
transition: 0.3s;
}

.logout-btn:hover {
background-color: #cc0000;
transform: scale(1.05);
}


/* Section title */

.cart-section {
margin-top: 75px;
}

.cart-section h2,
.summary-section h2 {
    font-size: 20px;
    margin-bottom: 18px;
    color: #23439c;
}

/* Cart box */
.cart-box {
    border: 2px solid #233f99;
    border-radius: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 24px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 18px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 24px 28px;
    align-items: flex-start;
    text-align: left;
}

.cart-item img {
    width: 130px;
    height: 160px;
    flex-shrink: 0;
    object-fit: contain;
    display:block
}

.item-info {
    flex: 1;
}

.item-info h3 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #333333;
}

.item-price {
    background-color: #f2f2f2;
    display: inline-block;
    font-size: 16px;
    padding: 14px 18px;
    color: #444;
    margin-bottom: 16px;
    font-weight: bold;
}

.item-buttons {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.details-btn {
    background-color: #6f84bf;
    color: white;
    padding: 9px 14px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.remove-btn {
    background-color: white;
    color: #e56a6a;
    border: 1.5px solid #ef8b8b;
    padding: 9px 14px;
    font-size: 13px;
    cursor: pointer
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 14px;
}

.page-arrow,
.page-number {
    height: 34px;
    width: 34px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.page-number.active {
    background-color: #5747e8;
    color: white;
    border: none;
}

/* Summary  */
.summary-section {
    border: 2px solid #4a63b9;
    border-radius: 10px;
    padding: 14px;
    background-color: #f7f7f7;
}

.summary-section p {
    font-size: 15px;
    margin-bottom: 14px;
    color: #333333;
    font-weight: 600;
}

.summary-section h3 {
    font-size: 16px;
    color: #23439c;
    margin-top: 8px;
}

.buy-btn-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.buy-btn {
    background-color: #23439c;
    color: white;
    padding: 10px 18px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
}

.buy-btn i {
    margin-right: 8px;
}

/* Modal */
.modal-overlay {
    position: fixed;
    inset: 0;  
    background-color: rgba(0, 0, 0, 45);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-box {
    width: 640px;
    background-color: white;
    border-radius: 10px;
    padding: 28px 24px;
    max-width: 90%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: center;
}

.modal-header h2 {
    color: #333;
    font-size: 24px;
}

.close-icon {
    font-size: 40px;
    color: #23439c;
    cursor: pointer;
    line-height: 1;
}

.modal-text {
    color: #333;
    margin-bottom: 55px;
    font-size: 18px;
    font-weight: 600;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.close-btn {
    background-color: white;
    color: #23439c;
    border: 1.5px solid #4a63b9;
    border-radius: 8px;
    padding: 12px 38px;
    font-size: 16px;
    cursor: pointer;
}

.confirm-btn {
    background-color: #23439c;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .page-container {
        width: 90%;
    }

    .cart-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .item-info {
       justify-content: center;
    }

    .buy-btn {
        justify-content: center;
        margin-top: 20px;
    }
}

#topBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #233f99;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    z-index: 999;
}

#topBtn:hover {
    background-color: #1a2f73;
    transform: scale(1.1);
}


.footer {
margin-top: 15px;
padding: 15px;
text-align: center;
font-size: 14px;
color: #777;
background-color: white;
border-radius: 10px;
}

.footer a{
display: block;
margin-top: 8px;
text-decoration: none;
color: #233f99;
font-weight: bold;
}


